{
    "extends": [
        "plugin:vue/vue3-recommended",
        "eslint:recommended",
        "plugin:@typescript-eslint/recommended",
        "prettier"
    ],
    "parser": "@typescript-eslint/parser",
    "parserOptions": {
        // Can be removed once https://github.com/jsx-eslint/eslint-plugin-react/issues/3602 is closed
        "suppressDeprecatedPropertyWarnings": true
    },
    "plugins": ["@typescript-eslint"],
    "env": {
        "node": true,
        "browser": true
    },
    "root": true,
    "rules": {
        "linebreak-style": ["error", "unix"],
        "quotes": [
            "error",
            "double",
            {
                "avoidEscape": true,
                "allowTemplateLiterals": true
            }
        ],
        "semi": ["error", "always"],
        "@typescript-eslint/no-unused-vars": "warn"
    },
    "overrides": [
        {
            "files": ["*.test.*"],
            "rules": {
                // Allow non-null assertions and any casts in test files
                "@typescript-eslint/no-non-null-assertion": "off",
                "@typescript-eslint/no-explicit-any": "off"
            }
        },
        {
            "files": ["*.vue"],
            "parser": "vue-eslint-parser",
            "parserOptions": {
                "parser": "@typescript-eslint/parser",
                "sourceType": "module"
            },
            "rules": {
                "vue/multi-word-component-names": "off"
            }
        }
    ]
}
