# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

coverage
tsc
dist
temp
node_modules

# Editor directories and files
.vscode/*
!.vscode/cspell.json
!.vscode/custom-words.txt
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.local
*.iml
